[Unit]
Description=wpa_supplicant for wlan0 (device-platform)
Before=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/wpa_supplicant -i wlan0 -c /etc/wpa_supplicant/wpa_supplicant-wlan0.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
